*{
    margin: 0;
    padding: 0;
}
:root {
    --main-color: rgb(248, 230, 197);
    --main-color-darkr: rgb(228, 186, 108);
    --scend-color: rgb(98, 158, 185);
    --scend-color-darkr:rgb(50, 80, 94);
  }
body{
    font-display: auto;
  }
/* nav bar */
header{
    background: var(--main-color);
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul {
    margin: 1rem;
    margin-right: 2rem;
    list-style: none;
    display: flex;
    gap: 2rem;
}
li a {
    text-decoration: none;
    color: var(--scend-color);

}
li a:hover {
    color: var(--scend-color-darkr);
    
}
h3{
    margin: 1rem;
    margin-left: 2rem;
    color: rgb(50, 80, 94);
}
/* nav bar */

/* main */
main{
    
    background: var(--scend-color);
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    background: var(--scend-color);
    height: 100vh;
}
.continar{
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    background-color: rgb(250, 230, 192);
    max-width: 450px;
    width: 85%;
    height: 40vh;
}
.continar h3{
    text-align: center;
}
.continar p{
    text-align: center;
}
.continar div{
    background:  var(--scend-color-darkr);
    border: none;
    border-radius: 15rem;
    margin: 1rem 2rem;
    padding: 0.3rem;
}
.continar div:hover{
    background-color: var(--scend-color);
    box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.39);
    transform: scaleY(1rem);
}
.continar a{
    text-decoration: none;
    color:  var(--main-color);
    text-align: center;
    
    /* margin: 0 9.4rem; */
}
/* main */
/* functional page  */

.functional{
    background :var(--scend-color);
    padding: 3rem;
    display: block;
    text-align: center;
    color: var(--main-color);
    height: 100vh;
}
.titel{
    margin: 1rem;
    padding: 1rem;

}
.titel a{
    width: max-content;
    text-decoration: none;
    color:  var(--scend-color-darkr);
}
.cont{
    display: flex;
    justify-content: center;
}
/* .reqest-joke{
    margin:  1rem 0;
    background:  var(--main-color-darkr);
    border: none;
    border-radius: 15rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    justify-self: center;
}  */
.reqest-joke button{
    background:  var(--main-color-darkr);
    border: none;
    border-radius: 15rem;
    width: 9rem;
    margin:  1rem 0;

}
.joke-div{
    background: linear-gradient(to right,rgb(65, 65, 107),rgb(219, 48, 48));
}

/* functional page  */