*{
    margin: 0;
    padding: 0;
}
/* nav bar */
header{
    background: rgb(255, 175, 28);
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul {
    margin: 1rem;
    margin-right: 2rem;
    list-style: none;
    display: flex;
    gap: 2rem;
}
li a {
    text-decoration: none;
    color: rgb(50, 80, 94);

}
li a:hover {
    color: rgba(50, 80, 94, 0.555);
    
}
h3{
    margin: 1rem;
    margin-left: 2rem;
    color: rgb(50, 80, 94);
}
/* nav bar */

/* main */


/* main */
